<launch>
  <arg name="frequency" default = "10" /> 

  <env
    name="ROSCONSOLE_CONFIG_FILE"
    value="$(find beginner_tutorials)/config/launch_loggerlevel.conf"
  />

  <node
    pkg = "beginner_tutorials"
    name = "talker_node"
    type = "talker"
    output = "screen"
    args="$(arg frequency)"
  />

  <node
    pkg = "beginner_tutorials"
    name = "listener_node"
    type = "listener"
    output = "screen"
    launch-prefix="gnome-terminal --command"
  />

</launch>
